.carousel {
    max-width: 80%;
    margin-inline: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    z-index: 3;
    position: relative;
}

.carousel-wrapper {
    margin-top: -8rem;
}

.carousel-img {
    width: 100%;
    scroll-snap-align:center;
    
    img {
        inline-size: 100%;
        // max-height: 80svh;
        aspect-ratio: 16 / 9;
        object-fit: scale-down;
        margin-block: 1rem;
        margin-inline: 2.5%;
    }

    h2, p {
        max-width: 45ch;
        text-align: center;
        margin-inline: auto;
    }
}

.controller-container {
    transform: translateY(calc(100% * 9 * (9/16) * 0.8 * 0.5 + 50%));
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 9 / 1;
    width: 100%;
    z-index: 2;
    position: relative;

    .carousel-controller {
        --size: 5rem;

        // width: var(--size);
        // height: var(--size);
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
        place-items: center;
        z-index: 40;
        position: relative;

        &::before {
            content: none;
        }

        &:active {
            background-color: transparent;
            transition: 0ms;
            h2 {
                color: $col-white;
                text-shadow: 0px 0px 0.3em $col-cyan, 0 0 0.1em $col-white;
            }
        } 

        h2 {
            font-size: min(7vw, 4rem);
        }
    }

    .carousel-R {
        justify-self: end;
    }

    .carousel-L {
        justify-self: start;
    }
}
