.carousel {
    max-width: 85%; // makes space for the buttons on either side
    margin-inline: auto; // center
    display: grid;
    grid-auto-flow: column; //automatically creates the right number of columns
    grid-auto-columns: 100%; // each column is as wide as this element
    overflow-x: hidden; // only 1 column is visible
    overscroll-behavior-inline: contain; // i forgor what this does
    scroll-snap-type: inline mandatory; // makes the carousel snap to image positions on mobile
    z-index: 3; // place above the button element so the container does not obstruct scrolling
    position: relative; // make z-index work
}

.carousel-wrapper {
    margin-top: -8rem; // compensate for the controller-container being moved down with transform, leaving a large blank space
}

.carousel-slide {
    width: 100%;
    scroll-snap-align:center; // makes the mobile scrolling snap to having the image on the middle of the screen, rather than an edge
    
    img {
        --gap: 3rem; // space between each carousel element relative to their width.
        inline-size: calc(100% - var(--gap)); // shrink images to compensate for gap, so the glow is not cut off
        // max-height: 80svh;
        aspect-ratio: 16 / 9;
        object-fit: scale-down;
        margin-block: 1.5rem;
        margin-inline: calc(var(--gap) / 2); // place half of the gap on either side of the image
    }

    h2, p {
        max-width: 45ch;
        text-align: center;
        margin-inline: auto;
    }
}

.controller-container {
    transform: translateY(calc(100% * 9 * (9/16) * 0.85 * 0.5 + 75%)); // moves the next/previous buttons to the sides of the image in the carousel
    // Multiply by 9 due to the aspect ratio. 
    // Multiply by the aspect ratio of the image to scale accurately (inverted due to Y-axis).
    // Multiply by 0.8 for the 80% width of the image
    // multiply by 0.5 to move it down by half of the image's height
    // add 50% to center the buttons relative to their own height
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 9 / 1;  // important to maintain some kind of aspect ratio to scale it to the images
    width: 100%;
    z-index: 2; // place it behind the image so that the image is clickable/scrollable
    position: relative; // make z-index work

    .carousel-controller {
        box-shadow: none; // removes styling from previous button classes
        border: none; // removes styling from previous button classes
        margin: 0;
        padding: 0;
        place-items: center;

        &::before {
            content: none; // removes styling from previous button classes
        }

        &:active {
            background-color: transparent;
            transition: 0ms;
            h2 {
                color: $col-white;
                text-shadow: 0px 0px 0.3em $col-cyan, 0 0 0.1em $col-white;
            }
        } 

        h2 {
            font-size: min(7vw, 4rem); // scale the buttons with the screen size
        }
    }

    .carousel-R {
        justify-self: end;
    }

    .carousel-L {
        justify-self: start;
    }
}

.carousel-indicator {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    margin-inline: auto;


    .carousel-dot {

        border-radius: 1rem;
        font-size: 1.5rem;

        &[data-active="false"] {
            opacity: 0.6;
            transition: 200ms;
            text-shadow: none;
            cursor: pointer;
        }


        &[data-active="true"] {
            opacity: 1;
            transition: 200ms;
            scale: 1.2;
        }

        &:nth-child(1) {
            color: $col-blue;
            transform: scaleY(85%);
            &[data-active="true"] {
                color: $col-white;
                text-shadow: 0 0 0.5em $col-blue, 0 0 0.15em $col-cyan;
            }

        }

        &:nth-child(2) {
            color: $col-purple;
            &[data-active="true"] {
                color: $col-white;
                text-shadow: 0 0 0.5em $col-purple, 0 0 0.15em $col-purple;
            }

        }

        &:nth-child(3) {
            color: $col-red;
            &[data-active="true"] {
                color: $col-white;
                text-shadow: 0 0 0.5em $col-red, 0 0 0.15em $col-red;
            }

        }

        &:nth-child(4) {
            color: $col-orange;
            &[data-active="true"] {
                color: $col-white;
                text-shadow: 0 0 0.5em $col-orange, 0 0 0.15em $col-orange;
            }

        }
    }

    // .carousel-line {
    //     min-width: 0rem;
    //     max-width: 6rem;
    //     height: 0.15rem;
    //     background-color: $col-white;
    //     border-radius: $border-radius;
    //     transform: translateY(100%);
    // }
}
