// Tajawal Variants

@font-face {
    font-family: 'Tajawal';
    font-weight: 300;
    src: url(fonts/Tajawal-Light.ttf);
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/Tajawal-Regular.ttf);
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 700;
    src: url(fonts/Tajawal-Bold.ttf);
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 900;
    src: url(fonts/Tajawal-Black.ttf);
}

$font-display: "Tajawal", Arial, Sans-serif;


// Atkinson Variants

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 400;
    font-style: italic;
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 700;
    font-style: normal;
    src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: 700;
    font-style: italic;
    src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
}

$font-text: "Atkinson Hyperlegible", Helvetica, Sans-serif;

// Source Sans Variants

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    src: url(fonts/SourceSans3-SemiBold.ttf);
}

$font-title: "Source Sans Pro", Monospace;

// styling

h1, h2, h3, p {
    color: $col-white;
}

h1 {
    position: relative;
    text-transform: uppercase;
    font-family: $font-title;
    font-weight: 600;
    font-size: $fs-title;
    margin-inline: auto; // centers the text. Text-align center does not work due to width:fit-content making it too short.
    margin-bottom: $spc-xs;

    &::before , &::after { // create a clone of the text object.
        content: attr(data-text); // write the text from data-text in the HTML
        position: absolute; // (3 lines) position the text on top of the original
        top: 0;
        left: 0;
        z-index: -1; // place it below instead

        background: $g-rainbow; // set the background of the text as a gradient
        background-clip: text; // only show the gradient where the text covers
        color: transparent; // make the text transparent so the text becomes ranbow-filled
        width: fit-content; // make the gradient only cover the area the text covers
        
        filter: blur(0.07em); // make it glowy :)
        mix-blend-mode: screen; // does exactly what it looks like :)
    }
}

h2 {
    font-family: $font-display;
    font-weight: 900;
    font-style: normal;
    font-size: $fs-heading;
    text-align: center;
    margin-bottom: $spc-xs;
}

main > h2 {
    text-transform: uppercase;
}

p {
    font-family: $font-display;
    font-weight: 300;
    font-size: $fs-text;
}

main ul {
    font-family: $font-display;
    font-weight: 300;
    font-size: $fs-text;
    color: $col-white;
    list-style-position: inside;
}

.alt-font {
    font-family: $font-text;
}