.mobile-only {
    display: none;
}

.inline-logo { //this is here because it only shows up on the mobile layout
    // margin-inline: auto;
    margin-block: $spc-med;
    max-width: min(100%, 400px);
    box-shadow: none;
    border-radius: 0;
}

.center {
    margin-inline: auto;
}

@media (max-width: 1200px) {
    // activate a smaller font/icon size to fit on smaller screens
    h1 {
        font-size: $fs-title-m;
    }

    nav ul, h2 {
        font-size: $fs-heading-m;
    }

    .logo {
        max-height: calc($nav-height * 0.5);
    }
}


// switch to mobile layout at this width
@media (max-width: 960px){
    nav {
        // move navigation to the bottom right
        bottom: 0;
        right: 0;
        top: unset; 

        // set it to the size of the burger menu
        width: 9rem;
        height: 8rem;
        transition: 200ms; //animation for the slide-in

        // PC menu has bottom rounding, mobile has top left rounding
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; 
        border-top-left-radius: 500%;

        ul {
            // make the navigation links display correctly inside the menu
            display: none;
            flex-direction: column-reverse;
            align-items: flex-start;

            li {
                $menu-offset: 12.5vw; // offset used in the next calculations, based on screen size

                // multiply the offset depending on which number in the list each element is
                &:nth-of-type(1) {
                        margin-left: calc($menu-offset * -1);
                    }
                &:nth-of-type(2) {
                        margin-left: calc($menu-offset * 0);
                    }
                &:nth-of-type(3) {
                        margin-left: calc($menu-offset * 1);
                    }
                &:nth-of-type(4) {
                        margin-left: calc($menu-offset * 2);
                    }

                }
            }


        }

        .mobile-hidden {
            display: none;
        }

        .mobile-only {
            display:grid;
        }

        #nav-toggle { // this is the invisible checkbox, not the menu itself
            &:checked ~ nav ul { // when the checkbox is checked, set the nav display type. "~" jumps to a same-level element rather than a child 
                display: flex;
            }
            &:checked ~ nav { // when the checkbox is checked, change the nav height to the mobile variable, overriding the burger-size set previously. Same animation timer.
                width: 100%;
                height: $nav-height-m;
                transition: 200ms;
            }

            &:checked ~ .nav-borgar-b { // when checkbox is checked, make the burger icon transparent
                opacity: 0%;
                transition: 400ms;
            }

            &:not(:checked) ~ .nav-borgar-x { // when checkbox NOT checked, make the "X" icon transparent
                opacity: 0%;
                transition: 400ms;
            }
        }

        .nav-borgar-x, .nav-borgar-b { // set the size and location of the burger menu/ X icon
            position: fixed;
            bottom: 0;
            right: 0;
            margin-right: 0.5rem;
            margin-bottom: 0.15rem;
            z-index: 100;
            width: 6rem;
            height: 6rem;
        }

        .nav-borgar-b { 
            z-index: 101; // just to make sure its on top, since this is the only one that is clickable regardless of visibility.
        }

        .columns-two {
            grid-template-columns: auto;
        }
}