// SCSS variables start with $ instead of -- for some reason
// All global variables go here because it is loaded first


// primary colours

$col-blue: #0080ff;
$col-yellow: #ffe000;
$col-red: #ff4d4d;
$col-green: #47b347;
$col-purple: #e080ff;
$col-orange: #edae4a;

$col-white: #ffffff;
$col-black: #000000;
$col-cyan: #a8cfd4;
$col-faded: #ffffff80;
$col-boxbg: #060606e2;

// secondary colours
$g-rainbow: linear-gradient(90deg, #0035FF 0%, #0097FF 15%, #d568e0 33%, #ff0024 55%, #ffec00 100% );
$g-background: linear-gradient(180deg, #153236 0%, #010013 50%, #010013 70%, #0b1925 100%);
$g-boxgradient: linear-gradient(180deg, #0035FF 0%, #0097FF 50%, #d568e0 100% );



// spacings
$spc-small: 1rem; // 16 px
$spc-med: 2rem; // 32 px
$spc-large: 4rem; // 64 px

$border-radius: 10px;

// Font sizes
$fs-title: 4rem; // 64 pt
$fs-heading: 2.25rem; // 32 pt
$fs-button: 1.75rem; // 28 pt
$fs-text: 1.125rem; // 18 pt

