// SCSS variables start with $ instead of -- for some reason
// All global variables go here because it is loaded first


// primary colours

$col-blue: #0080ff;
$col-yellow: #ffe000;
$col-red: #ff4d4d;
$col-green: #47b347;
$col-purple: #e080ff;
$col-orange: #edae4a;

$col-white: #ffffff;
$col-cyan: #a8cfd4;
$col-faded: #ffffff80;

// secondary colours
$g-rainbow: linear-gradient(90deg, #0035FF 0%, #0097FF 15%, #d568e0 33%, #ff0024 55%, #ffec00 100% );
$g-background: linear-gradient(180deg, #214247 0%, #000000 50%, #1a303c 100%);

// spacings
$spc-small: 1rem;
$spc-med: 2rem;
$spc-large: 4rem;