@charset "UTF-8";
* {
  scroll-padding-top: 10rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

img, picture, svg, video {
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@font-face {
  font-family: "Tajawal";
  font-weight: 300;
  src: url(fonts/Tajawal-Light.ttf);
}
@font-face {
  font-family: "Tajawal";
  font-weight: 400;
  font-style: normal;
  src: url(fonts/Tajawal-Regular.ttf);
}
@font-face {
  font-family: "Tajawal";
  font-weight: 700;
  src: url(fonts/Tajawal-Bold.ttf);
}
@font-face {
  font-family: "Tajawal";
  font-weight: 900;
  src: url(fonts/Tajawal-Black.ttf);
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  font-style: normal;
  src: url(fonts/AtkinsonHyperlegible-Regular.ttf);
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
  font-style: italic;
  src: url(fonts/AtkinsonHyperlegible-Italic.ttf);
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
  font-style: normal;
  src: url(fonts/AtkinsonHyperlegible-Bold.ttf);
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
  font-style: italic;
  src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf);
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  src: url(fonts/SourceSans3-SemiBold.ttf);
}
h1, h2, h3, p {
  color: #ffffff;
}

h1 {
  position: relative;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Monospace;
  font-weight: 600;
  font-size: 4rem;
  margin-inline: auto;
  margin-bottom: 0.5em;
}
h1::before, h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #0035FF 0%, #0097FF 15%, #d568e0 33%, #ff0024 55%, #ffec00 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  filter: blur(0.07em);
  mix-blend-mode: screen;
}

h2 {
  font-family: "Tajawal", Arial, Sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 0.5em;
}

main > h2 {
  text-transform: uppercase;
}

p {
  font-family: "Tajawal", Arial, Sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

.date {
  font-family: "Tajawal", Arial, Sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.5019607843);
  width: -moz-fit-content;
  width: fit-content;
}

main ul {
  font-family: "Tajawal", Arial, Sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #ffffff;
  margin-left: 1em;
}

.alt-font {
  font-family: "Atkinson Hyperlegible", Helvetica, Sans-serif;
}

Nav {
  height: 8rem;
  display: grid;
  position: fixed;
  z-index: 99;
  width: 105%;
  right: -2.5%;
  top: 0;
  border-bottom-left-radius: 500%;
  border-bottom-right-radius: 500%;
  background-color: #000000;
}
Nav ul {
  color: #ffffff;
  font-family: "Tajawal", Arial, Sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.25rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto repeat(2, 1fr);
  align-items: center;
  list-style: none;
  text-wrap: nowrap;
  margin-inline: auto;
  max-width: 100vw;
  gap: 1em;
}
Nav ul li {
  --glow-col: #FFFFFF;
}
Nav ul li a {
  text-shadow: 0 0 0.7em var(--glow-col), 0 0 0.3em var(--glow-col), 0 0 0.2em var(--glow-col);
}
Nav ul li a:hover {
  text-shadow: 0 0 1.1em var(--glow-col), 0 0 0.5em var(--glow-col), 0 0 0.3em var(--glow-col);
}
Nav ul li a::before {
  font-size: 0.8em;
  display: inline-block;
  margin-right: 0.25em;
}
Nav ul li:nth-of-type(1) {
  --glow-col: #0080ff;
}
Nav ul li:nth-of-type(1) a::before {
  content: "▲";
}
Nav ul li:nth-of-type(2) {
  --glow-col: #e080ff;
}
Nav ul li:nth-of-type(2) a::before {
  content: "◆";
}
Nav ul li:nth-of-type(3) {
  --glow-col: #ff4d4d;
}
Nav ul li:nth-of-type(3) a::before {
  content: "⬟";
}
Nav ul li:nth-of-type(4) {
  --glow-col: #ffe000;
}
Nav ul li:nth-of-type(4) a::before {
  content: "⬣";
}

a {
  color: #ffffff;
}

.logo {
  max-height: 5.2rem;
  box-shadow: none;
  margin-inline: 0;
  padding: 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.nav-spacer {
  height: calc(8rem + 2em);
}

#social {
  --icon-size: 3rem;
  --gap-size: 1.5rem;
  position: fixed;
  display: flex;
  height: 100%;
  place-items: center;
  right: 1rem;
}
#social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}
#social img {
  width: min(var(--icon-size), 12vw);
  z-index: 99;
  position: relative;
}
#social a {
  opacity: 0.6;
  transition: 300ms;
  z-index: 99;
  position: relative;
}
#social a:hover {
  opacity: 1;
  transition: 300ms;
}

#nav-toggle {
  display: none;
}

.carousel {
  max-width: 85%;
  margin-inline: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  z-index: 3;
  position: relative;
}

.carousel-wrapper {
  margin-top: -8rem;
}

.carousel-slide {
  width: 100%;
  scroll-snap-align: center;
}
.carousel-slide img {
  --gap: 3rem;
  inline-size: calc(100% - var(--gap));
  aspect-ratio: 16/9;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-block: 1.5rem;
  margin-inline: calc(var(--gap) / 2);
}
.carousel-slide h2, .carousel-slide p {
  max-width: 45ch;
  text-align: center;
  margin-inline: auto;
}

.controller-container {
  transform: translateY(265.15625%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 9/1;
  width: 100%;
  z-index: 2;
  position: relative;
}
.controller-container .carousel-controller {
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  place-items: center;
}
.controller-container .carousel-controller::before {
  content: none;
}
.controller-container .carousel-controller:active {
  background-color: transparent;
  transition: 0ms;
}
.controller-container .carousel-controller:active h2 {
  color: #ffffff;
  text-shadow: 0px 0px 0.3em #a8cfd4, 0 0 0.1em #ffffff;
}
.controller-container .carousel-controller h2 {
  font-size: min(7vw, 4rem);
}
.controller-container .carousel-R {
  justify-self: end;
}
.controller-container .carousel-L {
  justify-self: start;
}

.carousel-indicator {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
  margin-inline: auto;
}
.carousel-indicator .carousel-dot {
  border-radius: 1rem;
  font-size: 1.5rem;
}
.carousel-indicator .carousel-dot[data-active=false] {
  opacity: 0.6;
  transition: 200ms;
  text-shadow: none;
  cursor: pointer;
}
.carousel-indicator .carousel-dot[data-active=true] {
  opacity: 1;
  transition: 200ms;
  scale: 1.2;
}
.carousel-indicator .carousel-dot:nth-child(1) {
  color: #0080ff;
  transform: scaleY(85%);
}
.carousel-indicator .carousel-dot:nth-child(1)[data-active=true] {
  color: #ffffff;
  text-shadow: 0 0 0.5em #0080ff, 0 0 0.15em #a8cfd4;
}
.carousel-indicator .carousel-dot:nth-child(2) {
  color: #e080ff;
}
.carousel-indicator .carousel-dot:nth-child(2)[data-active=true] {
  color: #ffffff;
  text-shadow: 0 0 0.5em #e080ff, 0 0 0.15em #e080ff;
}
.carousel-indicator .carousel-dot:nth-child(3) {
  color: #ff4d4d;
}
.carousel-indicator .carousel-dot:nth-child(3)[data-active=true] {
  color: #ffffff;
  text-shadow: 0 0 0.5em #ff4d4d, 0 0 0.15em #ff4d4d;
}
.carousel-indicator .carousel-dot:nth-child(4) {
  color: #edae4a;
}
.carousel-indicator .carousel-dot:nth-child(4)[data-active=true] {
  color: #ffffff;
  text-shadow: 0 0 0.5em #edae4a, 0 0 0.15em #edae4a;
}

body {
  background: linear-gradient(180deg, #142c30 0%, #010013 50%, #010013 70%, #0b1925 100%);
}
body::before {
  content: "";
  z-index: -1;
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/image_054_0000_t.png);
  opacity: 0.85;
  background-size: 400px;
  background-repeat: repeat;
  mix-blend-mode: screen;
}

.content-grid {
  --padding-bar: 0.5rem;
  --content-max-width: 960px;
  --breakout-width: minmax(0px, 3rem);
  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--padding-bar), 1fr) [breakout-start] var(--breakout-width) [content-start] min(100% - var(--padding-bar) * 4, var(--content-max-width)) [content-end] var(--breakout-width) [breakout-end] minmax(var(--padding-bar), 1fr) [fullwidth-end];
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .fullwidth {
  grid-column: fullwidth;
}

button {
  --glow-size: 0.35em;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
  color: #ffffff;
  font-family: "Tajawal", Arial, Sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  padding: 0.4em 0.8em;
  margin: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: none;
  transition: 200ms;
}
button::before {
  content: "";
  position: relative;
  display: grid;
  align-self: center;
  width: 0.55em;
  height: 0.55em;
  background-color: #ffffff;
  border-radius: 9em;
  margin-right: 0.5em;
}
button:hover {
  text-shadow: 0px 0px var(--glow-size) #ffffff;
  box-shadow: 0px 0px var(--glow-size) #a8cfd4, inset 0px 0px var(--glow-size) #a8cfd4;
  transition: 200ms;
}
button:hover::before {
  box-shadow: 0px 0px var(--glow-size) #ffffff;
  transition: 200ms;
}
button:active {
  background: #ffffff;
  color: #000000;
  transition: 0ms;
}
button:active::before {
  background-color: #000000;
  transition: 0ms;
}

.columns-two {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2em;
  justify-content: center;
  align-items: center;
  align-content: center;
}

hr {
  --width-offset: 0.3rem;
  display: grid;
  width: calc(100% - var(--width-offset));
  height: 2px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  margin-inline: auto;
  margin-block: 2em;
  overflow: visible;
}
hr::before, hr::after {
  content: "";
  position: relative;
  top: -1px;
  left: calc(var(--width-offset) * -0.5);
  width: calc(100% + var(--width-offset));
  height: 2px;
  background: linear-gradient(90deg, #0035FF 0%, #0097FF 15%, #d568e0 33%, #ff0024 55%, #ffec00 100%);
  filter: blur(0.3rem);
  mix-blend-mode: screen;
}

main img,
main iframe {
  border-radius: 10px;
  box-shadow: 0px 0px 1em #ffffff, 0px 0px 0.5em #ffffff;
  max-width: calc(100% - 2em);
  margin-inline: auto;
  min-width: 100px;
  flex: 0 1 50%;
}

.textbox {
  background: rgba(6, 6, 6, 0.8862745098);
  border-radius: 3px 10px 10px 3px;
  padding: 2em;
  padding-top: 1em;
  border-left: 2px solid #ffffff;
  overflow: visible;
  position: relative;
  margin-block: 2em;
  margin-inline: auto;
  max-width: 65ch;
  min-width: 65%;
}
.textbox img {
  margin-top: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5019607843);
  box-shadow: none;
}
.textbox::before, .textbox::after {
  content: "";
  position: absolute;
  display: grid;
  top: -2px;
  left: -2px;
  width: 4px;
  height: calc(100% + 4px);
  background: linear-gradient(180deg, #0035FF 0%, #0097FF 50%, #d568e0 100%);
  filter: blur(0.3rem);
  mix-blend-mode: screen;
}
.textbox::after {
  opacity: 0%;
  filter: blur(0.5rem);
  transition: 200ms;
}
.textbox:hover::after {
  opacity: 100%;
  transition: 200ms;
}

.spacer-small {
  height: 1em;
}

.spacer-med {
  height: 2em;
}

.spacer-large {
  height: 4em;
}

p a {
  text-decoration: none;
  color: #a8cfd4;
  font-weight: 600;
  padding: 0.15em 0.15em 0.05em;
  border-radius: 0.15em;
}
p a::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.25em;
  width: 1em;
  height: 1em;
  background-image: url(../assets/Icons/link.svg);
  background-size: cover;
}
p a:hover {
  filter: brightness(2);
  text-shadow: 0px 0px 0.8em #0080ff, 0px 0px 0.5em #a8cfd4;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}
.icon-container a {
  display: grid;
  gap: 0.5em;
  place-items: center;
}
.icon-container a:hover {
  text-shadow: 0 0 0.25em #ffffff;
}
.icon-container a:hover img {
  opacity: 1;
}
.icon-container a img {
  min-width: 2rem !important;
  width: 2rem;
  box-shadow: none;
  border: none;
  border-radius: 0;
  opacity: 0.75;
}
.icon-container p {
  width: 100%;
  text-align: center;
}

.mobile-only {
  display: none;
}

.inline-logo {
  margin-block: 2em;
  max-width: min(100%, 400px);
  box-shadow: none;
  border-radius: 0;
}

.center {
  margin-inline: auto;
}

.mobile-logo {
  display: none;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3.3rem;
  }
  nav ul, h2 {
    font-size: 2rem;
  }
  .logo {
    max-height: 4rem;
  }
}
@media (max-width: 960px), (orientation: portrait) {
  #social {
    --icon-size: 3.5rem;
    display: flex;
    right: unset;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    z-index: 99;
    background-color: #000000;
    transform: translateY(-100%);
    transition: 200ms;
    transform-origin: top;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  #social ul {
    flex-direction: row;
    padding-block: 1.5rem;
    place-items: center;
    margin-inline: auto;
  }
  #social a {
    opacity: 1;
  }
  main img {
    box-shadow: 0px 0px 0.5em #ffffff;
  }
  .carousel-wrapper {
    margin-top: -4rem;
  }
  nav {
    bottom: 0;
    right: 0;
    top: unset;
    width: 9rem;
    height: 8rem;
    max-width: 450px;
    transition: 200ms;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 500%;
  }
  nav ul {
    display: none;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.5em;
  }
  nav ul li:nth-of-type(1) {
    margin-left: calc(min(10vw, 3.5rem) * 0);
  }
  nav ul li:nth-of-type(2) {
    margin-left: calc(min(10vw, 3.5rem) * 1);
  }
  nav ul li:nth-of-type(3) {
    margin-left: calc(min(10vw, 3.5rem) * 2);
  }
  nav ul li:nth-of-type(4) {
    margin-left: calc(min(10vw, 3.5rem) * 3);
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-only {
    display: grid;
  }
  #nav-toggle:checked ~ nav ul {
    display: flex;
    margin-bottom: 1rem;
  }
  #nav-toggle:checked ~ nav .mobile-logo {
    display: grid;
    height: 0;
  }
  #nav-toggle:checked ~ nav .mobile-logo .logo {
    padding-right: 4rem;
  }
  #nav-toggle:checked ~ nav {
    width: 100%;
    height: 25rem;
    transition: 200ms;
  }
  #nav-toggle:checked ~ .nav-borgar-b {
    opacity: 0%;
    transition: 400ms;
  }
  #nav-toggle:not(:checked) ~ .nav-borgar-x {
    opacity: 0%;
    transition: 400ms;
  }
  #nav-toggle:checked ~ #social {
    transform: translateY(0%);
    transition: 200ms;
  }
  .nav-borgar-x, .nav-borgar-b {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.15rem;
    z-index: 100;
    width: 6rem;
    height: 6rem;
  }
  .nav-borgar-b {
    z-index: 101;
  }
  .columns-two {
    grid-template-columns: auto;
  }
}
@media (hover: none) {
  .carousel {
    overflow-x: scroll;
  }
}/*# sourceMappingURL=style.css.map */