// imports these scss files IN ORDER before compiling to CSS
// the _ in the filename makes it compile to style.css instead of individual css files

@import "./resets";
@import "./variables";
@import "./fonts";
@import "./nav";


$fs-test-size: 5rem;

h1 {
    font-family: $font-display;
    font-weight: 900;
    font-size: $fs-test-size;
}

h2 {
    font-family: $font-display;
    font-weight: 300;
    font-size: $fs-test-size;
}

h3 {
    font-family: $font-text;
    font-weight: 400;
    font-size: $fs-test-size;
}

h4 {
    font-family: $font-title;
    font-weight: 600;
    font-size: $fs-test-size;
    color: transparent;
    background: $g-rainbow;
    background-clip: text;
}